h1 {
  color: yellowgreen;
  text-align: center;
  text-decoration: double;
  text-transform: capitalize;
  text-shadow: 0cap;
}

ol {
  list-style-type: decimal-leading-zero;
}
div {
  background-color: greenyellow;
  border: 10px double black;
  width: 100%;
  height: 100vh;
  border-radius: 10px;
  text-align: center;
  margin: 0%;
  padding: 0%;
  background-image: url(/images/IMG-20230509-WA0015.jpg);
  background-size: cover;
  background-repeat: repeat;
  filter: brightness(50%);
  color: red;
}
