/* .grid_container {
  display: grid;
  row-gap: 20px;
  grid-template-columns: 200px 200px 200px;
  margin: 0px auto;
}
.grid_items {
  width: 50px;
  padding: 50px;
  border: 1px solid black;
} */
* {
  margin: 0%;
  padding: 0%;
}
.grid_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 80px);
  background-color: blue;
  height: fit-content;
  color: white;
  font-size: 25px;
}
header {
  border: 1px solid white;
  grid-column: 1/13;
  grid-row: 1/2;
}
nav {
  grid-column: 1/4;
  grid-row: 2/4;
  text-align: center;
  border: 1px solid white;
}
aside {
  grid-column: 1/4;
  grid-row: 4/6;
  border: 1px solid white;
}
main {
  grid-column: 4/13;
  grid-row: 2/6;
  text-align: center;
  border: 1px solid white;
}
section {
  text-align: center;
  grid-row: 6/8;
  grid-column: 1/13;
  border: 1px solid white;
}
footer {
  border: 1px solid white;
  text-align: center;
  grid-row: 8/14;
  grid-column: 1/13;
}
